<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="//netdna.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet">
	<link rel="stylesheet"
		href="//cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.6.3/css/bootstrap-select.min.css" />
	<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/angular-ui-grid/4.0.2/ui-grid.min.css" />
	<link rel="stylesheet" href="/css/leaveinfo.css" />
	<title>Leaveinfo Page</title>
</head>

<body>

	<div class="container">
		<nav class="menu">
			<ul>
				<div class="logo"><img src="/assets/logo.png" alt="Girl in a jacket"
						style="width:100px;height:100px; margin:30px 70px 30px"></div>
				<input class="bar" type="radio" name="menu" id="archive" checked>

				<li>
					<!-- <label for="archive" class="title"><i class="fa fa-folder"></i>Archive</label> -->
					<a  onclick="linkPage('/Home')">
						<ion-icon name="home-outline" class="icon"></ion-icon>dashboard
					</a>
					<a  onclick="linkPage('/Requestuser')">
						<ion-icon name="person-outline" class="icon"></ion-icon>
						อนุมัติสิทธิผู้ใช้
					</a>
					<a  onclick="linkPage('/Authuser')">
						<ion-icon name="people-outline" class="icon"></ion-icon>จัดการสิทธิ์ผู้ใช้
					</a>
					<a  onclick="linkPage('/Cardata')">
						<ion-icon name="settings-outline" class="icon"></ion-icon>จัดการข้อมูลรถ
					</a>
					<a  onclick="linkPage('/Leaveinfo')">
						<ion-icon name="document-text-outline" class="icon"></ion-icon>จัดการข้อมูลการลา
					</a>
					
					<a onclick="logout()">
						<ion-icon name="log-out-outline" class="icon"></ion-icon>ออกจากระบบ
					</a>

				</li>
			</ul>
		</nav>
		<main class="main">
			<div class="card">
				<h2>
					<ion-icon name="document-text-outline" class="icon"></ion-icon>ข้อมูลการลา
				</h2>
				<div ng-app="app" style="padding:15px;">
					<div ng-controller="MainController">
						<div class="row form-group">
							<div class="col-md-6">
								<label for="filter">ค้นหา</label>
								<input ng-model="fdata.$" class="form-control" type="text" name="pname" id="pname"
									placeholder="ค้นหา" />
							</div>
							<div class="col-md-2">
								<label for="status">สิทธิผู้ใช้</label>
								<select ng-model="fdata.auth_id" class="form-control" name="auth" id="auth">
									<option value="" selected>ทั้งหมด</option>
									<option value="2">ครู</option>
									<option value="3">คนขับรถ</option>
								</select>
							</div>
							<div class="col-md-2">
								<label for="status">ข้อมูล</label>
								<select ng-model="fdata['leaves.leave_user.leave_type']" class="form-control"
									name="leave_user" id="leave_user">
									<option value="" selected>ทั้งหมด</option>
									<option value="0">ยังไม่จัดการ</option>
									<option value="1">จัดการสำเร็จ</option>
								</select>
							</div>

						</div>
						<!-- Data List .. ojo .. <table class="table gridtable table-condensed table-striped"> -->
						<table class="table hoverTable table-condensed table-striped" id="diagnosis_list">
							<tr>
								<th>ชื่อ-นามสกุล</th>
								<th>เบอร์โทร</th>
								<th>ประเภทผู้ใช้</th>
								<th>หมายเลขรถ</th>
								<th>ขอลา</th>
								<th>วันที่</th>
								<th>จัดการ</th>
							</tr>
							<tr
								ng-repeat="property in properties | filter: fdata | orderBy:column:reverseSort | limitTo: limit">

								<td>{{ property.user_fname || "-"}} {{property.user_lname}}</td>
								<td>{{ property.user_tel}}</td>
								<td>{{ property['auth.auth_name'] || "-"}}</td>
								<td>{{ property.car_no}}</td>
								<td>{{ property['leaves.leave_name']}}</td>
								<td>{{property['leaves.leave_user.timestamp']}}</td>

								<td ng-if="property['leaves.leave_user.leave_type'] == 0">
									<a style="width: 40px; height: 30px"
										href="{{settingDefault.apiurl}}/Leaveedit/{{property.car_no}}?id={{property['leaves.leave_user.id']}}"
										 
										role="button"
										class="btn btn-success">
										<ion-icon name="mail-unread-outline"></ion-icon>
									</a>
								</td>
								<td ng-if="property['leaves.leave_user.leave_type'] == 1">
									<a style="width: 40px; height: 30px" href="#" role="button" class="btn btn-info">
										<ion-icon name="mail-open-outline"></ion-icon>
									</a>
								</td>
   
							</tr>
						</table>

						<ul id="pagination">

							<nav class="flex flex-row flex-nowrap justify-between ">
								<li ng-repeat="(key,value) in range" ng-click="paginate(key)"
									ng-class="{active:page===key}"><a href="#">{{key+1}}</a></li>
							</nav>

						</ul>
		</main>
	</div>

	<script data-require="angular.js@1.5.8" data-semver="1.5.8"
		src="https://code.angularjs.org/1.5.8/angular.js"></script>
	<script data-require="jquery@3.0.0" data-semver="3.0.0"
		src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0/jquery.js"></script>
	<!--
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>-->
	<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>

	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
	<script src="//cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.6.3/js/bootstrap-select.min.js"></script>
	<!-- jQuery UI CSS  https://bootsnipp.com/snippets/Pa5Wr -->
	<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.2/jquery-ui.min.js"></script>
	<script src="https://cdn.rawgit.com/angular-ui/bower-ui-grid/master/ui-grid.min.js"></script>
	<!-- https://stackoverflow.com/questions/43079235/get-selected-row-of-angularjs-ui-grid -->
	<script src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.1/angular.min.js"></script>
	<script src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.8/angular-touch.min.js"></script>
	<script src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.8/angular-animate.min.js "></script>
	<!--<script src="//cdnjs.cloudflare.com/ajax/libs/angular-ui-grid/4.0.2/ui-grid.min.js"></script>-->
	<script src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.8/angular-touch.min.js"></script>
	<script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
	<script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
	<script>
		//var app = angular.module("app", [])
		var app = angular.module('app', ['ui.grid', 'ui.grid.pagination', 'ui.grid.selection']);
		app.controller("MainController", ['$scope', function ($scope) {

			$scope.limit = 8;
			$scope.column = 'id';
			$scope.page = 0;
			$scope.reverseSort = false;
			$scope.sortClass = "text-primary";

			$scope.paginate = function (page) {
				$scope.page = page;
				console.log($scope.page, page);
				$scope.properties = result.slice($scope.page * $scope.limit, $scope.page * $scope.limit + 8)
			}
			$scope.sortColumn = function (column) {
				$scope.reverseSort = ($scope.column == column) ? !$scope.reverseSort : false;
				$scope.column = column;
			};

			let result = JSON.parse('<%=result%>'.replaceAll("&#34;", "\""));
			let i = 0;
			$scope.range = Array.from({ length: result.length / 10 + 1 }, () => i++);
			$scope.properties = result.slice($scope.page * $scope.limit, $scope.page * $scope.limit + 8)

		}]);
		//app.controller("MainController", ['$scope', function($scope) {
		app.controller("MoveCtrl", ['$scope', function ($scope) {
			$scope.moveItem = function (items, from, to) {

				console.log('Move items: ' + items + ' From: ' + from + ' To: ' + to);
				//Here from is returned as blank and to as undefined

				items.forEach(function (item) {
					var idx = from.indexOf(item);
					if (idx != -1) {
						from.splice(idx, 1);
						to.push(item);
					}
				});

			};
			$scope.moveAll = function (from, to) {

				console.log('Move all  From:: ' + from + ' To:: ' + to);
				//Here from is returned as blank and to as undefined

				angular.forEach(from, function (item) {
					to.push(item);
				});
				from.length = 0;
			};

			$scope.selectedclients = [];

		}]);
	</script>
	<script src="/js/auth.js"></script>
	<script src="/js/app.js"></script>

	<script>
		hasLogin();
	</script>
</body>

</html>