<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/login.css" />
  <title>Login Page</title>
</head>

<body>
  <div class="page">
    <div class="container">
      <div class="left">
        <div class="login">Welcome
        </div>
        <div class="logo"><img src="/assets/logo.png" alt="Girl in a jacket" style="width:100px;height:100px;"></div>

        <div class="eula">C . I . T . C . </div>
      </div>
      <div class="right">
        <svg viewBox="0 0 350 300">
          <defs>
            <linearGradient inkscape:collect="always" id="linearGradient" x1="13" y1="193.49992" x2="307" y2="193.49992"
              gradientUnits="userSpaceOnUse">
              <stop style="stop-color:#ff9900;" offset="0" id="stop876" />
              <stop style="stop-color:#e9c93a;" offset="1" id="stop878" />
            </linearGradient>
          </defs>
          <path
            d="m 40,120.00016 239.99984,-3.2e-4 c 0,0 24.99263,0.79932 25.00016,35.00016 0.008,34.20084 -25.00016,35 -25.00016,35 h -239.99984 c 0,-0.0205 -25,4.01348 -25,38.5 0,34.48652 25,38.5 25,38.5 h 215 c 0,0 20,-0.99604 20,-25 0,-24.00396 -20,-25 -20,-25 h -190 c 0,0 -20,1.71033 -20,25 0,24.00396 20,25 20,25 h 168.57143" />
        </svg>
        <div class="font">
          <ion-icon name="person-outline"></ion-icon>Admin
        </div>
        <form class="form">
          <label id="mail" for="email">อีเมล์</label>
          <input type="email" id="email">
          <label class="pass" for="password">รหัสผ่าน</label>
          <input type="password" id="password">
          <!-- <a href="http://localhost:5001/Register">Register</a> -->
          <!-- <a  href="http://localhost:5001/Login" >Login</a> -->
          <input type="button" id="submit" value="เข้าสู่ระบบ" onClick="haslogin()">
        </form>
      </div>
    </div>
  </div>
  <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
  <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/animejs/3.2.1/anime.min.js"
    integrity="sha512-z4OUqw38qNLpn1libAN9BsoDx6nbNFio5lA6CuTp9NlK83b89hgyCVq+N5FdBJptINztxn1Z3SaKSKUS5UP60Q=="
    crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  <script src="/js/app.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script>
    function haslogin() {
      var email = document.getElementById('email').value
      var password = document.getElementById('password').value

      $.ajax({
        type: 'POST',
        headers: {
          "Content-Type": "application/json; charset=utf8"
        },
        url: 'http://localhost:5001/api/auth/login',
        cors: true,
        data: JSON.stringify(
          {
            "user_email": email,
            "user_pass": password
          }
        ),
        success: function (data) {
          console.log(data);
          localStorage.setItem('user',JSON.stringify(data));
          window.location.replace('http://localhost:5001/Home');
          
        },
        error: function (e) {
          console.log(e)

        }
      });
    }


  </script>
</body>

</html>