@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css);
@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700|Open+Sans:400,300);
@import 'https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600&display=swap" rel="stylesheet';
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body {
	font-family: 'Montserrat', sans-serif; 
}
.container {
	width: 100%;
	height: 100%;
}
nav {
	position: fixed;
	display: flex;
	align-items: flex-start;
	width: 15%;
	height: 100%;
	background-color: #fff;
}
.icon{
  margin-right:10px;
  width: 20px;
  height: 20px;
}

main {
	position: fixed;
	right: 0;
	width: 85%;
	height: 100%;
	background-color: #ff9900;
	overflow: auto;
	padding: 40px;
}
.txt {
	font-weight: bold;
	margin-bottom: 50px;
	font-size: 35px;
	text-align:left;
  color: #fff;
}
h3 {
	font-weight: bold;
	margin-bottom: 50px;
	font-size: 55px;
	text-align:left;
  color: #fff;
}
p {
	margin-bottom: 0px;
	line-height: 26px;
}
li, ul label.title, ul, a {
	width: 100%;
	color: #000;
	font-family: 'Montserrat', sans-serif;
	display: block;
	font-weight: bold;
}
ul label {
	height: 30px;
}
ul{
  height: 300px;

}
ul li{
	height: 35px;
	overflow: hidden;
	transition: all .3s;
}
li {
	display: block;
	background-color: #fff;
}
label.title {
	font-size: 14px;
	background: linear-gradient(#ff9900, #f78719);
	padding: 10px 15px;
	cursor: pointer;
  transition: all .25s;
}
a{
	font-size: 12px;
	text-decoration: none;
	color: #000;
	display: block;
	padding: 10px 25px;
	transition: all .25s;
}
a:hover {
	background-color: #ff9900;
  box-shadow: inset 5px 0px 0px 0px #fff;
}
label:hover {
	text-shadow: 0px 0px 10px #ff9900;
}
input[class="bar"] {
	display: none;
}
#edit:checked + li, #archive:checked + li, #tools:checked + li, #preferences:checked + li {
	height: 300px;
}
i {
	margin-right: 12px;
}
@media screen and (max-width: 600px){
	nav {
		width: 100%;
		position: relative;
	}
	main {
		width: 100%;
		position: relative;
	}
}
.card
{   
    position: fixed;
	width: 80%;
	height: 100%;
	background-color: #ffffff;
	overflow: auto;
	padding: 40px;
    border-radius: 20px;
}
h2
{
 color: #ff9900;
    margin-bottom: 10px;
}

.ui-sortable tr {
	cursor:pointer;
} 
		
/* .ui-sortable tr:hover {
	background:rgba(244,251,17,0.45);
} */


table.gridtable {
	font-family: verdana,arial,sans-serif;
	font-size:11px;
	color:#333333;
	border-width: 1px;
	border-color: #666666;
	border-collapse: collapse;
}
table.gridtable th {
	border-width: 1px;
	padding: 8px;
	border-style: solid;
	border-color: #666666;
	background-color: #dedede;
}
table.gridtable td {
	border-width: 1px;
	padding: 8px;
	border-style: solid;
	border-color: #666666;
	background-color: #ffffff;
}

/*estudiar esto .. falla sobre el blanco*/
  	/* table.hoverTable{
		width:100%; 
		border-collapse:collapse; 
	}
	table.hoverTable td{ 
		padding:7px; border:#e6bd4c 1px solid;
	} */
	/* Define the default color for all the table rows */
	/* table.hoverTable tr{
		background: #e4c04c;
	} */
	/* Define the hover highlight color for the table row */
    /* .hoverTable tr:hover {
          background-color: #ffff99;
    } */
@media screen and (-webkit-min-device-pixel-ratio:0) {
    select {padding-right:18px}
}

/* label {position:relative} */
label:after {
    content:'<>';
    font:11px "Consolas", monospace;
    color:#fff;
    -webkit-transform:rotate(90deg);
    -moz-transform:rotate(90deg);
    -ms-transform:rotate(90deg);
    transform:rotate(90deg);
    right:8px; top:2px;
    padding:0 0 2px;
    border-bottom:1px solid #fff;
    position:absolute;
    pointer-events:none;
}
label:before {
    content:'';
    right:6px; top:0px;
}
  .grid {
  width: 100%;
  height: 400px;
}
  .myGrid {
            width: 100%;
            height: 20rem;
          }

		  html, 
		  body {
			font: 100%/1.5 Verdana, sans-serif
		  }
		  #wrapper {
			margin: 0 auto;
			display: block;
			width: 300px;
		  }
		  .active{		
			border: 1.5px solid #ff9900; 
			width: 80px;
			background-color: #ffffff;
			padding: 5px 5px ;
   			 border-radius: 5px;
			margin-bottom:5px;
			margin-right: 10px;
		  }
		  .page-header {
			text-align: center;
			font-size: 1.5em;
			font-weight: normal;
			border-bottom: 1px solid #ddd;
			margin: 30px 0
		  }
		  #pagination {
			margin: 0;
			padding: 0;
			text-align: center
		  }
		  #pagination li {
			display: inline
		  }
		  #pagination li a {
			display: inline-block;
			text-decoration: none;
			padding: 5px 10px;
			color: #000
		  }
		  
		  /* Active and Hoverable Pagination */
		  #pagination li a {
			border-radius: 5px;
			-webkit-transition: background-color 0.3s;
			transition: background-color 0.3s
			  
		  }
		  #pagination li a.active {
			background-color: #4caf50;
			color: #fff
		  }
		  #pagination li a:hover:not(.active) {
			background-color: #ddd;
		  } 
		  
		  /* border-pagination */
		  .b-pagination-outer {
			width: 100%;
			margin: 0 auto;
			text-align: center;
			
			display: flex
		  }
		  #border-pagination {
			margin: 15 auto;
			padding: 0;
			text-align: center
		  }
		  #border-pagination li {
			display: inline;
		  
		  }
		  #border-pagination li a {
			display: block;
			text-decoration: none;
			color: #000;
			padding: 5px 10px;
			border: 1px solid #ddd;
			float: center;
		  
		  }
		  #border-pagination li a {
			-webkit-transition: background-color 0.4s;
			transition: background-color 0.4s
		  }
		  #border-pagination li a.active {
			background-color: #9ea59e;
			color: #fff;
		  }
		  #border-pagination li a:hover:not(.active) {
			background: #ddd;
		  }